.grid{
    width: 400px;
    height: 600px;
    background-color: gold;
    position: relative;
    font-size: 200px;
    text-align: center;

}

.doodler{
    width: 50px;
    height: 85px;
    background-color: red;
    position: absolute;
}

.platform{
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}

.btnJump{
    padding: center;
}

#thumbnail {
    box-shadow: 0 90px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);